* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.work-section {
  background-color: rgb(12, 7, 36);
  margin-top: -60px;
  position: relative;
}
.work-container {
  max-width: 80%;
  margin: 0 auto;
  position: relative;
}
.work-heading {
  text-align: center;
}
.work-heading p {
  padding: 3rem;
}
/* main coding  */
.work {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
  padding: 40px 0;

}
.left-work,
.right-work {
  width: 50%;
  position: relative;
}
.right-work {
  text-align: right;
  padding: 0 20px;
  /* margin-top: 30px; */
}

.right-work h5,
p {
  margin: 10px 0;
}
.work-info {
  padding: 30px;
  margin: 20px 0;
  box-shadow: -1px 5px 37px -4px rgb(0 0 0);
  transform: translateX(-60px);
  background-color: rgb(12, 7, 36);
}

.work-img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 3px;
}
.work-img::before {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  background: #64ffdb63;
  filter: blur(25px);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.work-img:hover::before {
  background: none;
}
@media screen and (max-width: 1322px) {
  .work {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: top;
    padding: 40px 0;
  }
  .left-work,
  .right-work {
    width: 100%;
    position: relative;
  }
  .work-img img {
    height: 600px;
  }
}
@media screen and (max-width: 936px) {
  .work-img{
    margin:   auto;
  }
  .work-img img {
    width: 70%;
    height: 300px;
    
    
  }
}
@media screen and (max-width: 430px) {
  .work-img img {
    height: 200px;
    width: 100%;
  }
}
